.leftnav{
	
}
.leftnav .profileImg{
	margin: 5%;
}
.leftnav .profileImg img{
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 10px;
}
.calendarContainer{
	border-left: 1px solid #cccccc;
	padding-bottom: 100px;
}
.eventsList{
	padding-left: 0;
} 
.eventsList li{
	list-style-type: none;
}
.eventsFixed{
	padding: 5px;
}
.eventsFixed i{
	font-size: 12px;
}
.eventsFixed input{
	border: 0px solid;
}