
.sub_titles {
    font-size: 2em;
    font-family: fantasy;
    /*font-style: italic;*/
}

.sub_heading {
    margin-top: 7%;
    margin-bottom: 3% 
}
.section-0, .section-1, .section-2, .section-3, .section-4{
	width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    height: 90vh;
}
.innerContainer{
	margin-top: 5%;
}
.section-0{
	 /*background-image: url('../images/connections.png');*/
	 /*background-size: cover;*/
}
.section-0 .flipCards {
    margin-top: 10%;
    padding-left: 12%;
}

.section-0 .col-md-2 {
    color: #ffffff;
   
}

.block {
    position: relative;
    z-index: 1;
    margin-top: 2%;
    margin-right: 5%;
}

/*.block {
    perspective: 1000;
}*/

#f1_card {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.block:hover #f1_card, .block:active #f1_card, .block:focus #f1_card {
    transform: rotateY(180deg);
    border: 0px;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding-top: 35%;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 5px;
    padding-top: 20%;
    color: white;
    text-align: center;
    background-color: #aaa;

    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

.briefcase {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
    background: #499bea;
    /* Old browsers */
    background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0);
    /* IE6-9 */
}

.areaChart {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd65e+0,febf04+100;Yellow+3D+%232 */
    background: #ffd65e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04', GradientType=0);
    /* IE6-9 */
}

.users {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
    background: #ff3019;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
    /* IE6-9 */
}

.usd {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#299a0b+0,299a0b+100;Green+Flat+%231 */
    background: #299a0b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #299a0b 0%, #299a0b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #299a0b 0%, #299a0b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b', GradientType=0);
    /* IE6-9 */
}

.section-1 {
    /*margin-bottom: 5%;*/
    background-image: url('../images/brickwall.png');
    padding: 100px;
}

.logintabs {
    /*margin-top: 2% ;*/
}

#logoE {
    font-size: 26px;
    padding-right: 5px;
}

/*.login {
    color: #777;
    font-size: 24px;
    font-family: fantasy;
    margin-bottom: 5%;
}*/

.section-2 {
	/*margin-top: 2%;*/
    /*margin-bottom: 5%;*/
    /*width: 100%;
	min-height:200px; */
    /*background-color: black;
    background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
    /*color: #ff3019;*/
    /*background: rgba(218, 49, 64, 1);*/
    padding-bottom: 50px;
    /*background-image: url('../images/connections.png');*/
    /*background-size: cover;*/
}

.section-2 h2,
.section-3 h2 {
	margin-top: 0.5%;
    margin-bottom: 1%;
}

.section-2 .services img {
    width: 80%;
}

.section-2 .services p {
    font-size: 1.6em;
    margin: 20% 0 0 20%;
    text-align: justify;
}

.section-3 {
	/*margin-top: 7%;*/
    /*background: #e6e6e6;*/
    color: #333;
    /*background: #e4efc0;
background: -moz-linear-gradient(top,  #e4efc0 0%, #abbd73 100%); 
background: -webkit-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); 
background: linear-gradient(to bottom,  #e4efc0 0%,#abbd73 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 );
*/
    /*background-image: url('../images/old_map.png');*/
    /*background-image: url('../images/connections.png');*/
}

.section-3 .fa-arrow-right {
    /*color: #da3140;*/
    /*color: #499bea; */
}

.section-4 {
    margin-top: 3%;
    margin-bottom: 7%;
    /*background-image: url('../images/connections.png');*/
}

.section-4 p {
    font-size: 1.2em;
    /*font-weight: 100;*/
    padding-top: 3%;
}

.section-4 i {
    padding-top: 8%;
    float: right;
}

.innovation i {
    color: #499bea;
}

.trust i {
    color: #ffd65e;
}

.quality i {
    color: #ff3019;
}

.respect i {
    color: #299a0b;
}

.section-5{
	text-align: justify;
}

.section-7 .box-key-diff{
  text-align: justify;
  /*color: #ffffff;*/
}
.box{
	padding-top: 2%;
	
/*background: #f9fcfe; 
background: -moz-linear-gradient(top,  #f9fcfe 0%, #e0f1fc 100%); 
background: -webkit-linear-gradient(top,  #f9fcfe 0%,#e0f1fc 100%); 
background: linear-gradient(to bottom,  #f9fcfe 0%,#e0f1fc 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcfe', endColorstr='#e0f1fc',GradientType=0 );
*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fcfe+0,e0f1fc+100&0.7+0,0.7+100 */
/*background: -moz-linear-gradient(top,  rgba(249,252,254,0.7) 0%, rgba(224,241,252,0.7) 100%); 
background: -webkit-linear-gradient(top,  rgba(249,252,254,0.7) 0%,rgba(224,241,252,0.7) 100%); 
background: linear-gradient(to bottom,  rgba(249,252,254,0.7) 0%,rgba(224,241,252,0.7) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3f9fcfe', endColorstr='#b3e0f1fc',GradientType=0 );
*/
/*background-color:  rgba(224,241,252,0.7);*/
}

.box-1{
	padding-top: 2%;
	
/*background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #fff9e7 100%);
background: -webkit-linear-gradient(top,  #ffffff 0%,#fff9e7 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#fff9e7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff9e7',GradientType=0 );
*/
}

.box-2{
	padding-top: 2%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffebea+100 */
/*background: #ffffff; 
background: -moz-linear-gradient(top,  #ffffff 0%, #ffebea 100%); 
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffebea 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#ffebea 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffebea',GradientType=0 ); 
*/
}
.box-3{
	padding-top: 2%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e8fde2+100 */
/*background: #ffffff; 
background: -moz-linear-gradient(top,  #ffffff 0%, #e8fde2 100%); 
background: -webkit-linear-gradient(top,  #ffffff 0%,#e8fde2 100%); 
background: linear-gradient(to bottom,  #ffffff 0%,#e8fde2 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8fde2',GradientType=0 );
*/
}
.box, .box-1, .box-2, .box-3{
	/*opacity: 0.6;*/

}
.subSeparator{
	float: left;
    
}
hr.style-seven {
    /*height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;*/
    border: 0;
    height: 1px;
    /*background: #333;*/
    background: #009ec3;
    background-image: linear-gradient(to right, #ccc, #009ec3, #ccc);
}
/*hr.style-seven:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
*/
@media screen and (max-width: 480px){
	.marketing{
		padding: 0;
	}
	.section-0, .section-1, .section-2, .section-3, .section-4{
		height: 80vh;
	}
  #f1_card {
    width: 133px;
    height: 133px;
  }
  .section-0 .flipCards {
    padding-left: 0;
  }
  .sub_titles {
    /*font-size: 1.5em;*/
   } 
   .face i{
   	font-size: 3em;
   }
   .face.back{
   	font-size: 0.8em;
   }
   .block{
   	margin-right: 0;
   	margin-top: 5%;
   	cursor: pointer;
   }
   .sub_heading {
    margin-top: 20%;
	}
	.separator img{
		width: 100%;
	}
	.section-2 .services p {
	    font-size: 1.2em;
	    margin: 12% 0 12% 0;
	}
	.section-2 .services img {
	    width: 105%;
	}
	.box, .box-1, .box-2, .box-3{
		padding-left: 0;
		padding-right: 0;
	}
	.box i, .box-1 i, .box-2 i, .box-3 i{
		font-size: 2em
	}
	.box .fa-3x, .box-1 .fa-3x, .box-2 .fa-3x, .box-3 .fa-3x{
		font-size: 1em;
		padding-top: 35%;
	}
	.section-3{
		padding: 0;
	}
	.section-3 i{
		padding-top: 15%;
	} 
	.section-3 ul{
		padding-left: 15px;
    	padding-bottom: 15px;
	}
	.subSeparator{
		width: 375px;
	}
	.section-4{
		margin-bottom: 20%;
	}
	.section-4 i{
		font-size: 2em
	}
	.section-4 h3{
		margin: 1% 0;
		font-size: 18px;
	}
	.innovation, .trust, .quality, .respect{
		padding: 0;
	} 
	.section-4 p{
		text-align: justify;
	}


}

















