/*
  #62bb46 --green color
  #0095da -- blue color
*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.commonBtn{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  color: #FFFFFF;
}
.commonBtn:hover{
  color: #FFFFFF;
  }
  .defaultSelect{
    /*color: #ccc;*/
    color:white;
        font-size:0px;
    display:none;
  }
body {
  padding: 0;
}
hr{
  margin-bottom: 5px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1000;
}


/* Custom page header */
.header {
  border-bottom: 0px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.header .navbar-default{
  background-color: #04AD77;
  border: 0 ;
}
.header .navbar-default .navbar-brand{
  color: #FFFFFF;
}
.header .navbar-default .navbar-nav > li > a{
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: 200;
}
.header .navbar-brand{
  font-size: 26px;
}
.header .navbar-brand span{
  font-weight: 100;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #FFFFFF;
  border-top: 1px solid #e5e5e5;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer ul li{
  display: inline-block;
  padding: 3% 10%;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

/* Supporting marketing content */
.marketing {
  margin: 150px 0 0 0;
}
.seeker{
  
}
.interviewer{
 
}
.seeker a{
  /*background-color: #04AD77;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#04ad77+0,03734f+100 */
  background: #04ad77; /* Old browsers */
  background: -moz-linear-gradient(top,  #04ad77 0%, #03734f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #04ad77 0%,#03734f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #04ad77 0%,#03734f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04ad77', endColorstr='#03734f',GradientType=0 ); /* IE6-9 */

  -webkit-box-shadow: 0 8px 6px -6px #3A3838;
    box-shadow: 0 8px 6px -6px #3A3838;

}
.interviewer a{
  /*background-color: #0066FF;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0066ff+0,0052cc+100 */
  background: #0066ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #0066ff 0%, #0052cc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #0066ff 0%,#0052cc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #0066ff 0%,#0052cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0066ff', endColorstr='#0052cc',GradientType=0 ); /* IE6-9 */

  -webkit-box-shadow: 0 8px 6px -6px #3A3838;
    box-shadow: 0 8px 6px -6px #3A3838;
}
.seeker a, .interviewer a{
  color: #FFFFFF;
  padding: 20px 90px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
}
.loginOptions{
  margin-top: 7%;
}
.loginOptions a{
  text-decoration: none;
  color: #04AD77;
  font-size: 22px;
  font-weight: 200;
}
.marketing p + h4 {
  margin-top: 28px;
}
.tagLine{
  font-size: 1em;
  font-weight: 200;
  color: #9A9A9A;
  letter-spacing: 2px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .header .navbar {
    border-radius: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  
}



