/*
  #62bb46 --green color
  #0095da -- blue color
*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.commonBtn{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  color: #FFFFFF;
}
.commonBtn:active{
  color: #FFFFFF;
}
.commonBtn:focus{
  color: #FFFFFF;
}
.commonBtn:hover{
  color: #FFFFFF;
  }
  .defaultSelect{
    /*color: #ccc;*/
    color:white;
        font-size:0px;
    display:none;
  }
body {
  padding: 0;
  /*background-image: url('../images/interview.jpg');*/
  /*background-size: cover;*/
 
}
hr{
  margin-bottom: 5px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1000;
}


/* Custom page header */
.header {
  border-bottom: 0px solid #e5e5e5;
  margin-bottom: 2%;
  padding-bottom: 30px; 

}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.header .navbar-header{
  margin-left: 2%;
}
.header .navbar-default{
  /*background-color: #04AD77;*/
  /*background-color: #FFFFFF; */
  background-color: rgba(0,0,0,0.9);
  border: 0 ;
  padding-bottom: 12px;
}
.header .navbar-default .navbar-brand{
  color: #FFFFFF;
   /*color: #f90628;*/
   letter-spacing: 4px;
}
.header .navbar-default .navbar-nav > li > a, .header .navbar-default .navbar-nav > li > span > a{
  /*color: #f90628;*/
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: 200;
}
.header .navbar-default .navbar-nav > li > span > a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  line-height: 49px;
}
.header .navbar-default .navbar-nav > li > span > a:hover, .header .navbar-default .navbar-nav > li > span > a:focus{
  text-decoration: none;
}
.header .navbar-default .navbar-nav > li > span > a:focus{
  background-color: #000000;
    border-color: #000000;
}
.header .navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: transparent; 
}
.header .navbar-collapse{
  border-top: 0px;
}
.header .navbar-brand{
  font-size: 26px;
}
.header .navbar-brand span{
  font-weight: 100;
}
.logo span{
  font-size: 12px;
  letter-spacing: 0;
}
/* Custom page footer */
.footer {
  padding-top: 8px;
  color: #FFFFFF;
  border-top: 1px solid #e5e5e5;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer ul li{
  display: inline-block;
  padding: 3% 10%;
}
.footer ul{
  margin-bottom: 0;
}
.footer .fa-facebook, .footer .fa-twitter, .footer .fa-linkedin{
  font-size: 20px;
}
.rightReserve{
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

/* Supporting marketing content */
.marketing {
  /*margin: 100px 0 0 0;*/

}
.mainContainer{
  margin-bottom: 10%;
  padding: 0;
  background-image: url('../images/connections.png');
}
.seeker{
  margin-bottom: 9%;
}
.interviewer{
  margin-bottom: 9%;
}
.recruiterCont{
  margin-bottom: 10%;
  /*margin-top: 2%;*/
}
.recruiterCont .col-md-10{
  height: 150px;
  border: 1px solid #cccccc;
  box-shadow: 0 8px 6px -6px #3A3838;
  margin: 1% 7%;

}
.recruiterCont .headSection{
  margin: 1% 0;
}
.recruiterCont #searchSeeker{
  font-size: x-large !important;
}
.recruiterCont .headSection .subHeaders li{
  display: inline-block;
}

.headSection .searchInput, .headSection .searchCont{
  padding-left: 0;
}
.vacancylist, .vacancyAppliedList{
  /*border: 1px solid #04AD77;*/
  padding: 0;
}
.vacancylist ul, .vacancyAppliedList ul{
  padding: 0;
}
.vacancylist ul li{
  border-right: 1px solid #f4586e;
}
.vacancylist ul li, .vacancyAppliedList ul li{
  list-style: none;
  padding: 5px 35px;
  background: #FFFFFF;
}
.vacancylist .panel-group{
  margin-bottom: 0 !important;
}
.profilePicCont img{
    width: 90%;
    height: 110px;
    margin: 15% 0;
}
.seeker a{
  /*background-color: #04AD77;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#04ad77+0,03734f+100 */
  /*background: #04ad77; 
  background: -moz-linear-gradient(top,  #04ad77 0%, #03734f 100%); 
  background: -webkit-linear-gradient(top,  #04ad77 0%,#03734f 100%); 
  background: linear-gradient(to bottom,  #04ad77 0%,#03734f 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04ad77', endColorstr='#03734f',GradientType=0 ); 
*/
  background: #777;
  -webkit-box-shadow: 0 8px 6px -6px #3A3838;
    box-shadow: 0 8px 6px -6px #3A3838;
     padding: 20px 90px;
}
.interviewer a{
  /*background-color: #0066FF;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0066ff+0,0052cc+100 */
  /*background: #0066ff; 
  background: -moz-linear-gradient(top,  #0066ff 0%, #0052cc 100%); 
  background: -webkit-linear-gradient(top,  #0066ff 0%,#0052cc 100%); 
  background: linear-gradient(to bottom,  #0066ff 0%,#0052cc 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0066ff', endColorstr='#0052cc',GradientType=0 ); 
*/
  background: #da3140;
  -webkit-box-shadow: 0 8px 6px -6px #3A3838;
    box-shadow: 0 8px 6px -6px #3A3838;
    padding: 20px 94px;
}
.recruiter a{
   padding: 20px 103px;
}
.seeker a, .interviewer a{
  color: #FFFFFF;
 
  text-decoration: none;
  border-radius: 10px;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
}
.loginOptions{
  margin-top: 7%;
}
.loginOptions a{
  text-decoration: none;
  color: #04AD77;
  font-size: 22px;
  font-weight: 200;
}
.marketing p + h4 {
  margin-top: 28px;
}
.tagLine{
  font-size: 1em;
  font-weight: 200;
  color: #9A9A9A;
  letter-spacing: 2px;
}
.interviewSetup{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;  
}
.recJobseekerList .ullilist{
  padding-left: 0;
  margin: 5% 15%;
  border: 1px solid #f4586e;
  padding: 20px;
}
.recJobseekerList .ullilist li{
    list-style: none;
    padding-bottom: 5px;
    /*border: 1px solid #04AD77;*/

}

.chkBox{
  margin: 2% !important;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .header .navbar {
    border-radius: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  
}

@media screen and (max-width: 480px){
  .footer .container-fluid .col-xs-12{
    text-align: center;
  }
  .footer .fa-facebook, .footer .fa-twitter, .footer .fa-linkedin {
    font-size: 14px;
  }

  .recruiterCont .headSection, .recruiterCont .col-xs-12{
    margin: 1% 0;
  }
  .headSection .col-xs-10{
    margin-bottom: 1%;
  }
  
  .addBtn{
    float: left !important;
    margin-left: 4%;
  }
}


