<div class="interviewSetup">
    <div class="modal-body">
        <!-- Single button -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <!-- <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
                        <option value=""> --- Select Skill --- </option>
                        <option ng-repeat="option in data.availableOptions" value="{{option.name}}">{{option.name}}</option>
                    </select> -->
                    <div class="form-group" >
                        <select class="form-control"  name="multipleSelect" id="multipleSelect" ng-model="skillset">
                          <option ng-repeat="x in skills" value="{{x.skillset}}">{{x.skillset}}</option>
                        </select>  
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>