<div class="col-md-12">
    <div class="col-md-12 calendarContainer">
        <!-- <div class="col-md-2">
            <div ng-include="'views/leftnav.html'"></div>
        </div> -->
        <!-- <div class="col-md-9 calendarContainer"> -->
        <div class="row-fluid">
            <div class="col-md-7">
                <div class="btn-group calTools">
                    <!-- <button class="btn" ng-click="changeLang()">
                            {{changeTo}}
                        </button>
                        <button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
                            Toggle Source
                        </button> -->
                    <button type="button" class="btn commonBtn briefcase" ng-click="addEvent()" ng-if = "showAddEvent">
                        Request Interview
                    </button>
                </div>
                <ul class="eventsList">
                    <li ng-repeat="e in events">
                        <div class="card">
                            <div class="eventsFixed cardBody"  ng-class="interviewTaken ? 'feedback' :'nofeedback'">
                                <a class="close" ng-click="remove($index)"><i class="fa fa-times"></i></a>
                                <div class="cardTitle"><b> {{e.title}}</b></div>                    
                                <div class="col-md-12">
                                    <div class="col-md-5">{{e.date}} , {{e.start | date : 'hh:mm a'}}</div> 
                                    <div class="col-md-3">Seeker: {{e.jobseeker_confirm}}</div> Interviewer:<a href="" ng-show="isSeeker" ng-click="confirmTime($index)">{{e.interviewer_confirm}}</a>
                                    <a href="" ng-show="!isSeeker">{{e.interviewer_confirm}}</a>
                                </div>
                                
                                <div ng-if = "!showAddEvent"> 
                                    <div ng-if = "e.interviewTaken" class="feedbackCont">                                 
                                        <textarea class="form-control" ng-model = "feedback.msg"></textarea>
                                        <label><input type="radio" ng-model="feedback.result" value="Interviewer Accept"> Accept</label>
                                        <label><input type="radio" ng-model="feedback.result" value="Interviewer Reject"> Reject</label>
                                        <a href="" ng-click="saveFeedback(feedback, e.jobseeker_email_id)" class="btn commonBtn briefcase pull-right saveFeedbackBtn">Save</a>
                                    </div>
                                </div>
                                <!-- <a class="close" ng-click="remove($index)"><i class="fa fa-times"></i></a>
                                <div class="cardTitle"><b> {{e.title}}</b></div>
                                <div>{{e.date}} , {{e.start | date : 'hh:mm a'}} </div> -->
                              
                                <!-- <div>Seeker: {{e.jobseeker_confirm}} , Interviewer:<a href="" ng-show="isSeeker" ng-click="confirmTime($index)">{{e.interviewer_confirm}}</a>
                                    <a href="" ng-show="!isSeeker">{{e.interviewer_confirm}}</a>
                                </div> -->
                                <!-- <div ng-show="isSeeker">Interviewer: <a href="" ng-click="confirmTime($index)">{{e.interviewer_confirm}}</a></div>
                                <div ng-show="!isSeeker">Interviewer: <a href="">{{e.interviewer_confirm}}</a></div> -->

                                
                            </div>
                            <!-- <div class="cardFooter text-center"><a href="" >View Full Detail</a></div> -->
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <tabset>
                    <tab select="renderCalender('myCalendar1');">
                        <!--  <tab-heading>
                                <i class="glyphicon glyphicon-bell"></i> Calendar One
                            </tab-heading> -->
                        <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                            <h4>{{alertMessage}}</h4>
                        </div>
                        <div class="btn-toolbar">
                            <!--  <p class="pull-right lead">Calendar One View Options</p> -->
                            <div class="btn-group">
                                <button class="btn commonBtn" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
                                <button class="btn commonBtn" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
                                <button class="btn commonBtn" ng-click="changeView('month', 'myCalendar1')">Month</button>
                            </div>
                        </div>
                        <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                    </tab>
                </tabset>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>