<div class="container-fluid jobList">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			
		</div>		
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			
		</div>		
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			
		</div>		
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			<div class="col-md-2 jobDescContainer">
				<p class = "title">Job 1</p>
				<p><b>Description</b> Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum</p>
				<p>Posted on</p>
			</div>
			
		</div>		
	</div>
</div>