<div class="text-center leftnav">
	<div class="row profileImg">
		<img src="images/usericon.png">
	</div>
	<div class="row">
		Akanksha Avinash
	</div>
	<div class="row">
		<p>Software Engineer at moBack Inc.</p>
	</div>
	<div class="row">
		1154 W Olive Ave,
		Sunnyvale CA,
		94086
	</div>
	<div class="row">
		6504402532
	</div>
	<div class="row">
		<br />
		<p>Skill Set: HTML/HTML5, CSS/CSS3, SASS, Javascript, Angularjs, Git, yeoman.</p>
	</div>
	<div class="row">
		<p>Previous: Cloud Insights</p>
	</div>
</div>