	<div class="container login section">
		<div class="loginContainer">
			<form ng-model="login.loginForm">
				<div class="form-group">
					<input type="email" class="form-control" ng-model="login.user.email" placeholder=" Email" />
				</div>
				<div class="form-group">
					<input type="password" class="form-control" ng-model="login.user.password" placeholder="Password" />
				</div> 
				<div class="form-group text-center">
					<input type="submit" class="btn loginBtn" ng-click="login.login(login.user)" value="Login" />
				</div>
			</form>
		</div>
	</div>