<div class="marketing">
  <div class="section-1  col-md-12">
    <div class="col-md-5 logintabs">
      <div class="login text-center">Login as</div>
      <div class="text-center seeker">
        <a href="" ng-click="getSeekerlink('seeker')" ng-disabled="seeker">Job Seeker</a>
      </div>
      <div class="text-center interviewer">
        <a href="" ng-click="getSeekerlink('interviewer')" ng-disabled="interviewer">Interviewer</a>
      </div>
      <div class="text-center seeker recruiter">
        <a href="" ng-click="getSeekerlink('recruiter')" ng-disabled="recruiter">Recruiter</a>
      </div>
      <div class="row text-center">
        <p class="tagLine">Get your interview setup in few steps.</p>
      </div>
    </div>
    <div class="col-md-7">
      <img src="images/home.png">
    </div>
    </div>
</div>
<div class="col-md-12">
  <hr>
</div>
<div class="section-2">
    <div class="col-md-12 text-center">
        <h3>Services</h3>
        <p>Depending upon the complexity of the assignment, we offer retained and contingency search services</p>
    </div>
    <div class="text-center">
        <img src="images/ourServices.png">
    </div>
</div>
<div class="section-3">
  <div class="col-md-12 text-center">
    <h3>Our Engagement Model</h3>
  </div>
  <div class="col-md-12">
    <div class="col-md-2"><i class="fa fa-hand-o-right fa-5x" aria-hidden="true"></i><i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i></div>
    <div class="col-md-3">
      <div class="col-md-10"><h4> Understanging YOUR Need</h4></div>
      <div class="col-md-2"><i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i></div>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Your business, your competition, revenues, internal organizationstructures and polices.</li>
        <li>Expectations from the role and fitmentof the candidate.</li>
        <li>We also help structure the role description and assist in making the right job specification.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
  <div class="col-md-12">
    <div class="col-md-2"><i class="fa fa-search fa-5x" aria-hidden="true"></i></div>
    <div class="col-md-3">
      Search Definition<i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Define search criteria and the search process, including evaluation process and compensation structuring.</li>
        <li>Detail the roles of all stakeholders in the process.</li>
        <li>Set milestones and review mechanisms.</li>
      </ul>
    </div>
    
  </div>
  <div class="col-md-12">
    <hr>
  </div>
  <div class="col-md-12">
    <div class="col-md-2"><i class="fa fa-puzzle-piece fa-5x" aria-hidden="true"></i></div>
    <div class="col-md-3">Search Execution<i class="fa fa-arrow-right" aria-hidden="true"></i></div>
    <div class="col-md-6">
      <ul>
        <li>Market mapping. Create long-list of candidates with our assessment.</li>
        <li>Presentation and short listing of candidates with stakeholder inputs.</li>
        <li>Facilitate interviews and the overall assessment process.</li>
        <li>Facilitate selection of Candidates(s) for the role and their reference checks.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
  <div class="col-md-12">
    <div class="col-md-2"><img src="images/handshake.png" style="width: 60%;"></div>
    <div class="col-md-3">Closure<i class="fa fa-arrow-right" aria-hidden="true"></i></div>
    <div class="col-md-6">
      <ul>
        <li>Benchmarking and structuring of compensation.</li>
        <li>Offer negotiations.</li>
        <li>offer roll out and clouser.</li>
        <li>Candidate Relationship Managementleading up to joining.</li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="container"> -->
<!-- <div class="row">
      <div class="col-md-6 text-center seeker">
        <a href="" ng-click = "getSeekerlink('seeker')"  ng-disabled = "seeker">Job Seeker</a>
        <br /><br /><br /><br />
      </div>
      <div class="col-md-6 text-center interviewer">
        <a href="" ng-click = "getSeekerlink('interviewer')" ng-disabled = "interviewer">Interviewer</a>
        <br /><br /><br /><br />
      </div> 
    </div>
    <div class="row ">
      <div class="col-md-12 text-center seeker">
        <a href="" ng-click = "getSeekerlink('recruiter')"  ng-disabled = "recruiter">Recruiter</a>
      </div>
    </div>   -->
<!--  <div class="row loginOptions text-center">
          <p><a href="#/login" ng-show = "isLoggedIn">Login</a></p> 
          <p><a href="#/register" ng-show="isRegistered">Register</a></p>
        </div> -->
<!-- </div> -->
<!-- <div class="container ">
    <div class="row text-center">
        <hr>
        <p class="tagLine">Get your interview setup in few steps.</p>
    </div>
</div> -->