<div class="marketing">
    <div class="section-0 col-md-12 col-xs-12">
        <div class="innerContainer">
            <div class="col-md-12 col-xs-12 flipCards">
                <div class="block col-md-2 col-sm-5 col-xs-6">
                    <div id="f1_card" class="shadow">
                        <div class=" text-center face front briefcase">
                            <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class=" face back briefcase">
                            <p>Dynamic and Agile organization with a comprehensive array of stafing solution</p>
                        </div>
                    </div>
                </div>
                <div class="block col-md-2 col-sm-5 col-xs-6">
                    <div id="f1_card" class="shadow">
                        <div class=" text-center face front areaChart">
                            <i class="fa fa-area-chart fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class=" face back areaChart">
                            <p>Highly skilled and motivated team recruitment professionals</p>
                        </div>
                    </div>
                </div>
                <div class="block col-md-2 col-sm-5 col-xs-6">
                    <div id="f1_card" class="shadow">
                        <div class=" text-center face front users">
                            <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class=" face back users">
                            <p>Working across Pan India / Asia</p>
                        </div>
                    </div>
                </div>
                <div class="block col-md-2 col-sm-5 col-xs-6">
                    <div id="f1_card" class="shadow">
                        <div class=" text-center face front usd">
                            <i class="fa fa-usd fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class=" face back usd">
                            <p>20 years of combined experience in resourcing</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="container text-center">
                    <p class="sub_titles sub_heading">Make Hiring Simple</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section-1  col-md-12">
        <div class="col-md-5 logintabs">
            <div class="login text-center">Login as</div>
            <div class="text-center seeker">
                <a href="" ng-click="getSeekerlink('seeker')" ng-disabled="seeker">Job Seeker</a>
            </div>
            <div class="text-center interviewer">
                <a href="" ng-click="getSeekerlink('interviewer')" ng-disabled="interviewer">Interviewer</a>
            </div>
            <div class="text-center seeker recruiter">
                <a href="" ng-click="getSeekerlink('recruiter')" ng-disabled="recruiter">Recruiter</a>
            </div>
            <div class="row text-center">
                <p class="tagLine">Get your interview setup in few steps.</p>
            </div>
        </div>
    </div> -->
    <!-- Separator image -->
    <div class="container separator">
        <img src="images/division.png">
    </div>
    <div id="services" class="section-2 col-md-12 col-xs-12">
        <div class="innerContainer">
            <div class="col-md-12 col-xs-12 text-center">
                <h2>Services</h2>
            </div>
            <div class="col-md-12 services">
                <div class="col-md-5">
                    <p>Depending upon the complexity of the assignment, we offer retained and contingency search services</p>
                </div>
                <div class="col-md-7">
                    <img src="images/services.png">
                </div>
            </div>
        </div>
    </div>
    <!-- Separator image -->
    <div class="container separator">
        <img src="images/division.png">
    </div>
    <div id="model" class="section-3 col-md-12 col-xs-12">
        <div class="innerContainer">
            <div class="col-md-12 text-center">
                <h2>Our Engagement Model</h2>
            </div>

            <div class="col-md-12 box col-xs-12">
                <div class="col-md-2 col-xs-3"><i class="fa fa-hand-o-right fa-5x" aria-hidden="true"></i><i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i></div>
                <div class="col-md-3 col-xs-8">
                    <div class="col-md-9 col-xs-8">
                        <h4> Understanding YOUR Need</h4></div>
                    <div class="col-md-3 col-xs-4"><i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <ul>
                        <li>Your business, your competition, revenues, internal organization structures and policies.</li>
                        <li>Expectations from the role and fitment of the candidate.</li>
                        <li>We also help structure the role description and assist in making the right job specification.</li>

                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sx-12 subSeparator">
              <hr class="style-seven">
            </div>
            <div class="col-md-12 box-1 col-xs-12 ">
                <div class="col-md-2 col-xs-2"><i class="fa fa-search fa-5x" aria-hidden="true"></i></div>
                <div class="col-md-3 col-xs-10">
                    <div class="col-md-9 col-xs-9">
                        <h4>Search Definition</h4></div>
                    <div class="col-md-3 col-xs-3"><i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <ul>
                        <li>Define search criteria and the search process, including evaluation process and compensation structuring.</li>
                        <li>Detail the roles of all stakeholders in the process.</li>
                        <li>Set milestones and review mechanisms.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sx-12 subSeparator">
              <hr class="style-seven">
            </div>
            <div class="col-md-12 box-2 col-xs-12">
                <div class="col-md-2 col-xs-2"><i class="fa fa-puzzle-piece fa-5x" aria-hidden="true"></i></div>
                <div class="col-md-3 col-xs-10">
                    <div class="col-md-9 col-xs-9">
                        <h4>Search Execution</h4></div>
                    <div class="col-md-3 col-xs-3"><i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i></div>
                </div>
                <div class="col-md-5 col-xs-12">
                    <ul>
                        <li>Market mapping. Create long-list of candidates with our assessment.</li>
                        <li>Presentation and short listing of candidates with stakeholder inputs.</li>
                        <li>Facilitate interviews and the overall assessment process.</li>
                        <li>Facilitate selection of Candidates(s) for the role and their reference checks.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sx-12 subSeparator">
              <hr class="style-seven">
            </div>
            <div class="col-md-12 box-3 col-xs-12">
                <div class="col-md-2 col-xs-3">
                    <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i><i class="fa fa-smile-o fa-5x" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 col-xs-8">
                    <div class="col-md-9 col-xs-8">
                        <h4>Closure</h4></div>
                    <div class="col-md-3 col-xs-3"><i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <ul>
                        <li>Benchmarking and structuring of compensation.</li>
                        <li>Offer negotiations.</li>
                        <li>offer roll out and clouser.</li>
                        <li>Candidate Relationship Management leading up to joining.</li>

                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <div class="container separator">
        <img src="images/division.png">
    </div>
    <div id="values" class="section-4 col-md-12 col-xs-12">
        <div class="innerContainer">
            <div class="col-md-12 col-xs-12 text-center">
                <h2>Our Values</h2>
            </div>
            <div class="col-md-12 col-xs-12 innovation">
                <div class="col-md-2 col-xs-2"><i class="fa fa-square fa-3x" aria-hidden="true"></i></div>
                <div class="col-md-2 col-xs-8">
                    <h3>Innovation</h3></div>
                <div class="col-md-8 col-xs-12">
                    <p>By championing new ideas, trying new ways of doing things & improving everyday.</p>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 trust">
                <div class="col-md-2 col-xs-2"><i class="fa fa-square fa-3x" aria-hidden="true"></i></div>
                <div class="col-md-2 col-xs-8">
                    <h3>Trust</h3></div>
                <div class="col-md-8 col-xs-12">
                    <p>Keeping promises made to customers and peers through consistent delivery on timelines.</p>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 quality">
                <div class="col-md-2 col-xs-2"><i class="fa fa-square fa-3x" aria-hidden="true"></i></div>
                <div class="col-md-2 col-xs-8">
                    <h3>Quality</h3></div>
                <div class="col-md-8 col-xs-12">
                    <p>Strive to achieve the highest standards and serve our customers the best.</p>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 respect">
                <div class="col-md-2 col-xs-2"><i class="fa fa-square fa-3x" aria-hidden="true"></i></div>
                <div class="col-md-2 col-xs-4">
                    <h3>Respect</h3></div>
                <div class="col-md-8 col-xs-12">
                    <p>Respect & dignity across diverse cultures, being sensitive to behavior and languages in the workplace.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section-7 col-md-12">
      <div class="col-md-12 text-center">
        <h2>Key Differences</h2>
      </div>
      <div class="col-md-12">
        <div class="col-md-3 box-key-diff box-1">
          <h4>Delivery vs Sales</h4>
          <p>We are fanatical about delivery to commitment. We take pride in saying 'No' to business when we are not 100% confident of delivering to commitment.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 box-key-diff box-2">
          <h4>Quality vs Volumes</h4>
          <p>We only run a limited number of engagements and offer a personalized and bespoke search service. We belive that no organization and no candidate is wrong; it is the marriage of two which can go right or wrong, and therefore we take a lot of effort to get the candidate who is of correct fitment that just close a role.</p>
        </div>
        <div class="col-md-1"></div>      
        <div class="col-md-3 box-key-diff box-3">
          <h4>Passive vs Active Candidates</h4>
          <p>Most of our network is passive talent who would not respond to traditional agencies. They need an entirely different approach. Our network trusts our consultative approach and knowledge of the market therefore are willing to discuss significant career moves with us. You get access to key high achieveing individuals from competition.</p>
        </div>
      </div>
        <div class="col-md-12">
          <div class="col-md-2"></div>      
          <div class="col-md-3 box-key-diff box-4">
            <h4>Relationships vs Database</h4>
            <p>Our network comprises of individuals with extensive industry experience in their respective domains. We nurture these relationships with active and passive talent. We are not social media or database recruiters; we do not advertise.</p>
          </div>
          <div class="col-md-2"></div>      
          <div class="col-md-3 box-key-diff box-1">
            <h4>Partnering with you vs Job Description</h4>
            <p>We believe in proactively engaging our clients to indentify their organizational challenges and then partner with them to design the role as well as the compassion.Our partnership starts with an in-depth understanding of clients' strategic goals and the organizational culture. Focusing on these underlying factors allows us to take a border and more creative approach in identifying potential candidates there by enabling superiror leadership hiring decisions. </p>
          </div>       
        </div> 
    </div>
    <div id="aboutUS" class="section-5 col-md-12">
        <div class="col-md-12 text-center">
            <h2>About Us</h2>
        </div>
          <div class="col-md-12">
            <p>
                <b>eHireo</b> was setup to cater the emerging high strategic growth In recruitment in various sectors of Technology and Non-Technology area. The focus of eHireo to meet the resourcing needs of organizations and manage professionals on permanent and other engagements.
            </p>
            <h4>Vision</h4>
            <p>To make hiring simple </p>
            <h4>Mission</h4>
            <p>To add customer delight in staffing and recruitment by providing quality, business value and speedy services.</p>
        </div>
        <div class="col-md-12">
           
            <h4>An extension to your HR team</h4>
            <p>Our aim is to always act as an extension to your HR team and to enable you to deliver business goals through your people. However, our experience extends beyond our HR specialism. We understand the commercial realities of working In a business like yours. We work closely with you to provide a service which precisely matches your requirements and Adds value to your business.
            </p>
            <h4>Integrity, passion and a can-do attitude</h4>
            <p>At the heart of eHireo lies a desire to offer our clients and candidates a service and experience that is second to none; Where our experience and sector expertise make us your first choice when choosing an HR service provider; where integrity, passion and our can-do attitude are always at the heart of every thing we do.</p>
        </div>       
    </div> -->
    <div id="contactUs" class="section-6 col-md-12">
    </div>
</div>
<!-- <div class="container"> -->
<!-- <div class="row">
      <div class="col-md-6 text-center seeker">
        <a href="" ng-click = "getSeekerlink('seeker')"  ng-disabled = "seeker">Job Seeker</a>
        <br /><br /><br /><br />
      </div>
      <div class="col-md-6 text-center interviewer">
        <a href="" ng-click = "getSeekerlink('interviewer')" ng-disabled = "interviewer">Interviewer</a>
        <br /><br /><br /><br />
      </div> 
    </div>
    <div class="row ">
      <div class="col-md-12 text-center seeker">
        <a href="" ng-click = "getSeekerlink('recruiter')"  ng-disabled = "recruiter">Recruiter</a>
      </div>
    </div>   -->
<!--  <div class="row loginOptions text-center">
          <p><a href="#/login" ng-show = "isLoggedIn">Login</a></p> 
          <p><a href="#/register" ng-show="isRegistered">Register</a></p>
        </div> -->
<!-- </div> -->
<!-- <div class="container ">
    <div class="row text-center">
        <hr>
        <p class="tagLine">Get your interview setup in few steps.</p>
    </div>
</div> -->