<div class="row marketing">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center seeker">
        <a href="#/seeker">Job Seeker</a>
      </div>
      <div class="col-md-6 text-center interviewer">
        <a href="#/interviewer">Interviewer</a>
      </div>
    </div>
    <div class="row loginOptions text-center">
      <p>
        <a href="#/login">Login</a>
      </p>
      <p>
        <a href="#/register">Register</a>
      </p>
    </div>
  </div>
</div>
<div class="container ">
    <div class="row text-center">
      <hr>
      <p class="tagLine">Get your interview setup in few steps.</p>
    </div>
  </div>